# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
.env

# Fichiers Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml

# Fichiers système et IDE
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

# Fichiers de log
*.log
